<?xml version="1.0" encoding="utf-8"?>
<manifest package="co.sourse.example.pvn"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0.0">


    <application
        android:name=".ExampleApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Begin Sourse SDK configuration -->

        <receiver android:name="com.incoming.au.sdk.notification.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <!-- Used to ensure multiple host applications using the SDK do not interfere with one another. -->
                <category android:name="${packageName}"/>
            </intent-filter>
        </receiver>

        <!-- End Sourse SDK configuration -->

        <activity
            android:name=".ExampleActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


    </application>

</manifest>